// primary colors
$Light-red: hsl(0, 100%, 67%);
$Light-red-bg: hsla(0, 100%, 67%, 8%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Orangey-yellow-bg: hsla(39, 100%, 56%, 8%);
$Green-teal: hsl(166, 100%, 37%);
$Green-teal-bg: hsla(166, 100%, 37%,8%);
$Cobalt-blue: hsl(234, 85%, 45%);
$Cobalt-blue-bg: hsla(234, 85%, 45%,8%);
// background gradient
$Light-slate-blue: hsl(252, 100%, 67%);
$Light-royal-blue: hsl(241, 81%, 54%);
// circle gradient
$Violet-blue: hsla(256, 72%, 46%, 1);
$Persian-blue: hsla(241, 72%, 46%, 0);
// neutral colors
$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);

$breakpoints: (
  // 600px
  sm: 37.5rem,
  // 768px
  md: 48rem,
  // 992px
  lg: 62rem,
  // 1200px
  xlg: 75rem,
);